@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 0.14rem;
    line-height: 1.15;
    background-color: #cecece;
}

.pageBody {
    background-image: url(../img/bg.jpg);
    background-position: center top;
    background-size: cover;
}

.hide, .hid {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    height: 10%;
}

.page1 {
    z-index: 1;
}

.img1 {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/1.jpg) center top no-repeat;
    background-size: 7.20rem 10.80rem;
    z-index: 100;
}

.btn1 {
    position: absolute;
    display: -webkit-flex;
    width: 100%;
    height: 1.31rem;
    top: 9.59rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/bt1-1.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 1.31rem;
    z-index: 113;

}

.btn1:hover {
    background-image: url(../img/bt1-2.png);
}

.pulse-btn {
    -webkit-animation-name: pulse;
    animation-name: pulse ;
    -webkit-animation-duration: 1.5s ;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 1.15, 1.15);
        transform: scale3d(1.15, 1.15, 1.15);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 1.15, 1.15);
        transform: scale3d(1.15, 1.15, 1.15);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



/* create */
.page2 {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.sin-box {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 4.02rem;
    margin: 0.10rem 0 0 0;
}

.sin-hd {
    position: absolute;
    display: block;
    left: 0.48rem;
    top: 0.20rem;
    width: 1.69rem;
    height: 1.59rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1.69rem 1.59rem;
    background-image: url(../img/hd.png);
    z-index: 111;
}

.sin {
    position: absolute;
    display: block;
    top: 0rem;
    left: 2.08rem;
    width: 5.12rem;
    height: 4.02rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 5.12rem 4.02rem;
    z-index: 110;
}

.sin1 {
    background-image: url(../img/2-s1.png);
}

.sin1-tips {
    background-image: url(../img/2-s1-tips.png);
}

.sin2 {
    background-image: url(../img/2-s2.png);
}

.sin2-tips {
    background-image: url(../img/2-s2-tips.png);
}

.sin3 {
    background-image: url(../img/2-s3.png);
}

.sin3-tips {
    background-image: url(../img/2-s3-tips.png);
}

.sin4 {
    background-image: url(../img/2-s4.png);
}

.sin4-tips {
    background-image: url(../img/2-s4-tips.png);
}

.tin {
    position: absolute;
    display: none;
    left: 3.66rem;
    top: 1.92rem;
    width: 1.82rem;
    height: 1.82rem;
    z-index: 230;
    /*border: 1px solid;*/
}

.tin textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0.8;
    padding: 8px 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bebebe;
    font: 18px Arial, sans-serif;
    background: #f4f4f4;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

/*字体位置*/
.p1 {
    font: 20px Arial, sans-serif;
    left: 3.16rem;
    top: 1.42rem;
    width: 2.58rem;
    height: 1.82rem;
}

.p2 {
    left: 3.22rem;
    top: 1.32rem;
    width: 2.58rem;
    height: 1.82rem;
}

.p3 {
    font: 14px Arial, sans-serif;
    left: 3.54rem;
    top: 1.82rem;
    width: 1.80rem;
    height: 1.80rem;
}

.p4 {
    font: 18px Arial, sans-serif;
    left: 4.26rem;
    top: 0.98rem;
    width: 2.5rem;
    height: 1.82rem;
}

input, select, textarea {
    outline: none;
}

/* default choice 3*/
.ys-choice {
    position: absolute;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    left: 5.63rem;
    top: 4.28rem;
    background-image: url(../img/choice.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 0.52rem 0.52rem;
    z-index: 991;
}

.co1 {
    left: 2.89rem;
    top: 4.48rem;
}

.co2 {
    left: 2.62rem;
    top: 6.96rem;
}

.co3 {
    left: 5.63rem;
    top: 4.28rem;
}

.co4 {
    left: 5.93rem;
    top: 7.06rem;
}

.ys-opts {
    position: absolute;
    left: 0;
    top: 4.34rem;
    width: 100%;
    height: 4.95rem;
    background-image: url(../img/2-ys.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 4.95rem;
    z-index: 212;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.ys {
    width: 50%;
}

/*build*/

.btn2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 1.48rem;
    top: 9.37rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/2-btn.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 1.48rem;
    z-index: 213;
}

/* rlt*/
.page3 {
    width: 100%;
    height: 100%;
    z-index: 300;
}

.dl-rlt {
    position: absolute;
    display: block;
    left: 0;
    top: 0.40rem;
    width: 100%;
    height: 5.14rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 5.14rem;
    z-index: 310;
    background-image: url(../img/3-dl.png);
}

/* imgurl from api url */
.dl-pic {
    position: relative;
    display: block;
    left: 0.9rem;
    top: 0.92rem;
    width: 4.64rem;
    height: 3.67rem;
    margin: 0 auto;
    /* background-position: center top; */
    /* background-repeat: no-repeat; */
    /* background-size: 4.64rem 3.67rem; */
    z-index: 310;

}

.dl-c1 {
    /*background-image: url(../img/c1.png);*/
    width: 4.62rem;
    height: 3.13rem;
    top: 1.20rem;
}

.dl-c2 {
    /*background-image: url(../img/c2.png);*/
    width: 3.72rem;
    height: 3.58rem;
}

.dl-c3 {
    /*background-image: url(../img/c3.png);*/
    width: 2.32rem;
    height: 3.67rem;
}

.dl-c4 {
    /*background-image: url(../img/c4.png);*/
    width: 4.84rem;
    height: 3.67rem;
}

.dl-tips {
    position: absolute;
    display: block;
    left: 0rem;
    top: 5.04rem;
    width: 100%;
    height: 3.36rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 3.36rem;
    z-index: 310;
    background-image: url(../img/3-ts.png);
}

.btn3 {
    position: absolute;
    display: -webkit-flex;
    width: 100%;
    height: 1.53rem;
    top: 8.78rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/3-btn.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 7.20rem 1.53rem;
    z-index: 313;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
    body {
        /*background-image:url(../photo/1.jpg);*/
    }
}

@media screen and (min-width: 768px ) {
    .img1 {
        background-size: contain;
    }
}

/* pop tips */
.tip-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.tip-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.tip-content {
    display: inline-block;
    min-width: 4rem;
    max-width: 6.2rem;
    line-height: .42rem;
    font-size: .32rem;
    color: #bfbfc2;
    word-wrap: break-word;
    padding: .43rem .2rem;
    background: rgba(0, 0, 0, .7);
}

.flipInCardY {

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY-key;
    animation-name: flipInY-key;
}

@-webkit-keyframes flipInY-key {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY-key {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

